.wrapper {
  lost-center: 1170px 20px;
  overflow: hidden;
  @mixin atMedium {
    padding-left: 30px;
    padding-right: 30px;
  }
  @mixin atLarge {
    padding-left: 15px;
    padding-right: 15px;
  }
}


