.get-in-touch {
  lost-column: 1/1 ;
  clear: both;

  text-align: center;
  padding-bottom: 30px;

  p {
  	@mixin atLarge {
  		font-size: 16px;
  	}
  }

  a {
  	&._btn--learn-more {
  		min-width: 240px;
  		padding: 16px;
  	}
  }
}
