.what-will-learn {
  background: white;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
    lost-column: 1/2 ;
    list-style: none;
    margin-bottom: 20px;

    @mixin atMedium {
      lost-column: 1/4 ;
    }
  }

  p {
    font-size: 14px;
  }
  ._icon--check-blue {
    margin-bottom: 10px;
  }


}
